<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><a href="/add-page">Add user</a> <a href="/search-page">Search user</a> <a href="/add-page-rest">Add user (RestClient)</a> <b>Search user (RestClient)</b></div>
<form action="#" th:action="@{/search-page-rest}" method="POST">
    <p>
        <label for="search">Enter name/phone number:</label>
        <br>
        <input type="text" id="search" name="search">
    </p>
    <button type="submit">Search</button>
</form>
<hr>
<div>
    <p>Search Condition: <span th:text="${lastSearch}"/></p>
</div>
<div th:if="${noResults}">No Results Found</div>
<div th:each="item : ${results}" th:text="${item.name + ' - ' + item.number}"></div>
</body>
</html>